body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Gill Sans', 'Trebuchet MS', 'sans-serif', 'Calibri';
    font-weight: lighter;
}